[submodule "thirdparty/pytorch3d"]
	path = thirdparty/pytorch3d
	url = https://github.com/facebookresearch/pytorch3d.git
[submodule "thirdparty/dex-retargeting"]
	path = thirdparty/dex-retargeting
	url = https://github.com/dexsuite/dex-retargeting.git
[submodule "thirdparty/manopth"]
	path = thirdparty/manopth
	url = https://github.com/hassony2/manopth
[submodule "thirdparty/manotorch"]
	path = thirdparty/manotorch
	url = https://github.com/lixiny/manotorch.git

